:root {
    --primary-color: #00B08D;
    --secondary-color: #F0F6FC;
    --background-dark: #0D1117;
    --card-background: #161B22;
    --text-faded: #8B949E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-dark);
    color: var(--secondary-color);
    line-height: 1.6;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

section {
    padding: 50px 8%;
    max-width: 1400px;
    margin: 0 auto;
}

/*navigation bar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: var(--card-background);
}

nav>div:first-child {
    line-height: 1.2;
}

nav>div:first-child a:first-child {
    font-size: 1.8em;
    font-weight: bold;
    color: var(--primary-color);
    text-decoration: none;
}

nav>div:first-child a:last-child {
    font-size: 0.8em;
    color: var(--primary-color);
    text-decoration: none;
    letter-spacing: 2px;
    opacity: 0.8;
    display: block;
}

nav>div:last-child a {
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 40px;
    transition: color 0.3s;
    font-size: 1.1em;
}

nav>div:last-child a:hover {
    color: var(--secondary-color);
}